
<link rel="stylesheet" href="./css/styles.css">

<h3 id="portfolio">Portfolio</h3>

<div class="card-deck">

    <div class="card">
        <img class="card-img-top" src="./img/glasses.jpg" alt="Glasses">
        <div class="card-body">
            <h5 class="card-title">Glasses</h5>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="./img/shoe.jpg" alt="Shoe">
        <div class="card-body">
            <h5 class="card-title">Shoe</h5>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="./img/tie.jpg" alt="Tie">
        <div class="card-body">
            <h5 class="card-title">Tie</h5>
        </div>
    </div>
</div>

<div class="card-deck cd2">

    <div class="card">
        <img class="card-img-top" src="./img/watch-1.jpg" alt="Watch 1">
        <div class="card-body">
            <h5 class="card-title">Watch 1</h5>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="./img/watch-2.jpg" alt="Watch 2">
        <div class="card-body">
            <h5 class="card-title">Watch 2</h5>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="./img/watch-3.jpg" alt="Watch 3">
        <div class="card-body">
            <h5 class="card-title">Watch 3</h5>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
